---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Home">
  <main>
    <Navbar />
    <div>
      <Banner />
    </div>
    <div class="container mx-auto">
      <div
        class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4 pt-5 pb-10 lg:pt-20 lg:pb-20"
        style="cursor: auto;"
      >
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
        <Card />
      </div>
    </div>
  </main>
</Layout>
