<div class='container mx-auto'>
  <nav
    class='sticked top-0 flex items-center justify-between flex-wrap bg-third-color p-6'
  >
    <div class='flex items-center flex-shrink-0 text-white mr-6'>
      <a href='/'
        ><span class='font-semibold text-xl tracking-tight uppercase'
          >Idol Handshake</span
        ></a
      >
    </div>
    <div class='flex items-center px-6 bg-second-color rounded-full'>
      <ul class='space-x-6 text-white font-bold hidden lg:flex py-3'>
        <li>
          <a href='/' class='px-8 py-3 hover:bg-fouth-color rounded-full'
            >Home</a
          >
        </li>
        <li>
          <a href='/' class='px-8 py-3 hover:bg-fouth-color rounded-full'
            >Your Ticket</a
          >
        </li>
        <li>
          <a
            href='https://github.com/deviate-team'
            class='px-8 py-3 hover:bg-fouth-color rounded-full'>Contact</a
          >
        </li>
      </ul>
    </div>
    <div>
      <button class='p-1 rounded mr-5'>
        <a
          href='/login'
          class='inline-block text-xl px-4 py-2 leading-none text-white mt-0 font-bold hover:text-second-color'
          >Login</a
        >
      </button>
    </div>
  </nav>
</div>
