<div class="container mx-auto">
  <nav
    class="fixed top-0 left-0 flex items-center justify-between flex-wrap w-full bg-third-color p-6 z-50"
  >
    <div class="hidden lg:flex items-center flex-shrink-0 text-white mr-6">
      <a href="/"
        ><span class="font-semibold text-xl tracking-tight uppercase"
          >Idol Handshake</span
        ></a
      >
    </div>

    <button id="navigation-btn" class="block md:hidden">
      <span class="sr-only"> Navigation Menu</span>
      <span aria-hidden="true">
        <svg
          class="w-6"
          style="fill: #ffffff"
          viewBox="0 0 100 80"
          width="40"
          height="40"
        >
          <rect width="100" height="20"></rect>
          <rect y="30" width="100" height="20"></rect>
          <rect y="60" width="100" height="20"></rect>
        </svg>
      </span>
    </button>
    <div
      class="hidden md:flex items-center px-2 py-1 bg-second-color rounded-full"
      id="navigation"
    >
      <ul class="text-white w-full font-bold flex flex-wrap py-3">
        <li>
          <a href="/" class="px-8 py-3 hover:bg-fouth-color rounded-full"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/your-ticket"
            class="px-8 py-3 hover:bg-fouth-color rounded-full">Your Ticket</a
          >
        </li>
        <li>
          <a
            href="https://github.com/deviate-team"
            target="_blank"
            class="px-8 py-3 hover:bg-fouth-color rounded-full">Contact</a
          >
        </li>
      </ul>
    </div>
    <div>
      <button class="p-1 rounded mr-5">
        <a
          href="/login"
          class="inline-block text-xl px-4 py-2 leading-none text-white mt-0 font-bold hover:text-second-color"
          >Login</a
        >
      </button>
    </div>
  </nav>
</div>

<script>
  const navigationButton = document.querySelector("#navigation-btn");
  const navigation = document.querySelector("#navigation");

  navigationButton.addEventListener("click", () => {
    navigation.classList.toggle("hidden");
  });
</script>
