<div class="container mx-auto">
  <nav
    class="sticked top-0 flex items-center justify-between flex-wrap bg-third-color p-6"
  >
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight uppercase"
        >Idol Handshake</span
      >
    </div>
    <div class="flex items-center">
      <ul class="space-x-6 text-white font-bold hidden lg:flex">
        <li><a href="/" class="hover:text-second-color">Home</a></li>
        <li><a href="/" class="hover:text-second-color">Ticket</a></li>
        <li>
          <a href="/your-ticket" class="hover:text-second-color">Your Ticket</a>
        </li>
      </ul>
    </div>
    <div>
      <button class="bg-fouth-color p-1 rounded hover:bg-second-color mr-5">
        <a
          href="/"
          class="inline-block text-base px-4 py-2 leading-none text-white mt-0"
          >Login</a
        >
      </button>
    </div>
  </nav>
</div>
